.default {
  background-color: #0000a0;
  color: #fff;
}
.primary {
  background-color: #800040;
  color: #fff;
}
.info {
  background-color: #808040;
  color: #fff;
}
.success {
  background-color: #a3a3a3;
  color: #fff;
}
.danger {
  background-color: #ff0000;
  color: #fff;
}
.warning {
  background-color: #aa4400;
  color: #fff;
}
